Repository maxmurr/react-grep: changes, and which lefthook commands are due for each by the changed paths.
All: lint, format

lefthook.yml:

pre-commit:
  parallel: true
  commands:
    lint:
      glob: "*.{js,ts,jsx,tsx}"
      run: bunx oxlint --fix {staged_files}
      stage_fixed: true
    format:
      glob: "*.{js,ts,jsx,tsx,json}"
      run: bunx oxfmt --write {staged_files}
      stage_fixed: true

commit-msg:
  commands:
    commitlint:
      run: bunx commitlint --edit {1}

chore(react-grep): release v0.1.0
  packages/react-grep/CHANGELOG.md
  packages/react-grep/package.json
Due: format

docs: add root README
  README.md
Due: none

fix(react-grep): truncate tooltip path to last 2 segments
  packages/react-grep/src/overlay.ts
Due: lint, format

chore(react-grep): release v0.1.1
  packages/react-grep/CHANGELOG.md
  packages/react-grep/package.json
Due: format

fix(website): align content with current react-grep behavior
  apps/website/src/app/page.tsx
Due: lint, format

fix(react-grep): resolve source maps for Next.js/Turbopack server components
  apps/website/src/app/layout.tsx
  packages/react-grep/src/fiber.ts
  packages/react-grep/src/source-map.ts
  packages/react-grep/src/types.ts
Due: lint, format

chore(react-grep): release v0.1.2
  packages/react-grep/CHANGELOG.md
  packages/react-grep/package.json
Due: format

docs(readme): add framework compatibility table
  README.md
  apps/example/package.json
  apps/website/package.json
  packages/react-grep/CHANGELOG.md
  packages/react-grep/README.md
Due: format

chore(website): add pnpm-lock.yaml
  apps/website/pnpm-lock.yaml
Due: none

chore(website): remove stale pnpm-lock.yaml
  apps/website/pnpm-lock.yaml
Due: none

docs(readme): add npm version badge
  README.md
Due: none

chore: improve turborepo config and add CI workflow
  .github/workflows/ci.yml
  apps/example/tsconfig.json
  apps/website/tsconfig.json
  apps/website/turbo.json
  packages/react-grep/tsconfig.json
  tsconfig.base.json
  turbo.json
Due: format

fix(react-grep): narrow _debugOwner type before accessing Fiber properties
  packages/react-grep/src/fiber.ts
Due: lint, format

chore: add changeset for debug owner type fix
  .changeset/fix-debug-owner-type.md
Due: none

fix(ci): use bunx to invoke turbo in CI workflow
  .github/workflows/ci.yml
Due: none

fix(ci): grant write permissions to release workflow
  .github/workflows/release.yml
Due: none

feat(website): redesign landing page with dark terminal aesthetic
  apps/website/src/app/globals.css
  apps/website/src/app/layout.tsx
  apps/website/src/app/page.tsx
Due: lint, format

chore: add MIT LICENSE file and license field to root package.json
  LICENSE
  package.json
Due: format

chore(website): upgrade next.js 15 to 16 with latest react
  apps/website/package.json
Due: format

feat(website): add SEO, performance, and security optimizations
  apps/website/next.config.ts
  apps/website/src/app/apple-icon.tsx
  apps/website/src/app/global-error.tsx
  apps/website/src/app/globals.css
  apps/website/src/app/icon.tsx
  apps/website/src/app/layout.tsx
  apps/website/src/app/not-found.tsx
  apps/website/src/app/opengraph-image.tsx
  apps/website/src/app/page.tsx
  apps/website/src/app/robots.ts
  apps/website/src/app/sitemap.ts
Due: lint, format

fix(website): set turbopack.root for monorepo CI builds
  apps/website/next.config.ts
Due: lint, format

chore(react-grep): drop CommonJS build output
  packages/react-grep/package.json
  packages/react-grep/tsup.config.ts
Due: lint, format

chore: add changeset for CJS removal as minor bump
  .changeset/drop-cjs-build.md
Due: none

refactor(react-grep): improve type safety, fix deprecations, harden runtime
  packages/react-grep/package.json
  packages/react-grep/src/env.ts
  packages/react-grep/src/fiber.ts
  packages/react-grep/src/index.ts
  packages/react-grep/src/inspector.ts
  packages/react-grep/src/overlay.ts
  packages/react-grep/src/source-map.ts
  packages/react-grep/src/types.ts
Due: lint, format

chore(react-grep): release v0.2.1
  packages/react-grep/CHANGELOG.md
  packages/react-grep/package.json
Due: format

fix(website): update site URL from react-grep.dev to react-grep.com
  apps/website/src/app/layout.tsx
  apps/website/src/app/robots.ts
  apps/website/src/app/sitemap.ts
Due: lint, format

feat(website): add react atom orbits and inspector pills to og images
  apps/website/src/app/apple-icon.tsx
  apps/website/src/app/icon.tsx
  apps/website/src/app/opengraph-image.tsx
Due: lint, format

chore(react-grep): release v0.2.2
  packages/react-grep/CHANGELOG.md
  packages/react-grep/package.json
Due: format

docs: add gzip size and downloads badges to README
  README.md
Due: none

docs: style README badges with brand colors
  README.md
Due: none

chore(react-grep): release v0.2.3
  packages/react-grep/package.json
Due: format

docs: remove gzip and downloads badges from README
  README.md
Due: none

feat(website): add vercel analytics
  apps/website/package.json
  apps/website/src/app/layout.tsx
Due: lint, format

test(react-grep): add 100% coverage with vitest
  .github/workflows/ci.yml
  .gitignore
  package.json
  packages/react-grep/package.json
  packages/react-grep/src/__tests__/env.test.ts
  packages/react-grep/src/__tests__/fiber.test.ts
  packages/react-grep/src/__tests__/index.test.ts
  packages/react-grep/src/__tests__/inspector.test.ts
  packages/react-grep/src/__tests__/overlay.test.ts
  packages/react-grep/src/__tests__/source-map.test.ts
  packages/react-grep/src/fiber.ts
  packages/react-grep/src/index.ts
  packages/react-grep/src/source-map.ts
  packages/react-grep/vitest.config.ts
  turbo.json
Due: lint, format

chore(react-grep): release v0.3.0
  .changeset/config.json
  packages/react-grep/CHANGELOG.md
  packages/react-grep/package.json
Due: format

fix(example-nextjs-webpack): use webpack bundler for build
  apps/example-nextjs-webpack/package.json
Due: format

fix(react-grep): strip leading ../ from esbuild-style source paths
  packages/react-grep/src/__tests__/source-map.test.ts
  packages/react-grep/src/source-map.ts
Due: lint, format

fix(react-grep): resolve source maps for RSC with webpack bundler
  packages/react-grep/src/__tests__/source-map.test.ts
  packages/react-grep/src/source-map.ts
Due: lint, format
