Repository maxmurr/react-grep: changes, and which lefthook commands are due for each by the changed paths.
All: lint, format

lint:
  run: bunx oxlint --fix {staged_files}
  stage_fixed: true

format:
  run: bunx oxfmt --write {staged_files}
  stage_fixed: true

chore(react-grep): release v0.3.1
  packages/react-grep/CHANGELOG.md
  packages/react-grep/package.json
Due: format

docs: modernize READMEs with badges, multi-pm install, and updated compat table
  README.md
  packages/react-grep/README.md
Due: none

fix(website): improve SEO with structured data, meta tags, and security headers
  apps/website/next.config.ts
  apps/website/src/app/layout.tsx
  apps/website/src/app/not-found.tsx
  apps/website/src/app/sitemap.ts
Due: lint, format

feat(website): add package manager tabs with copy button
  apps/website/src/app/globals.css
  apps/website/src/app/install-tabs.tsx
  apps/website/src/app/page.tsx
Due: lint, format

chore: add per-app dev scripts to root package.json
  package.json
Due: format

style: replace em dashes with hyphens and periods
  README.md
  apps/website/src/app/layout.tsx
  apps/website/src/app/opengraph-image.tsx
  apps/website/src/app/page.tsx
  packages/react-grep/CHANGELOG.md
  packages/react-grep/README.md
  packages/react-grep/src/__tests__/index.test.ts
  packages/react-grep/src/__tests__/overlay.test.ts
  packages/react-grep/src/__tests__/source-map.test.ts
  packages/react-grep/src/inspector.ts
Due: lint, format

fix(website): simplify page title to just "react-grep"
  apps/website/src/app/layout.tsx
Due: lint, format

chore(react-grep): release v0.3.2
  packages/react-grep/package.json
Due: format

chore(ci): add changeset to verify auto-publish workflow
  .changeset/verify-auto-publish.md
Due: none

feat(website): add SEO and GEO optimizations for search visibility
  apps/website/src/app/faq-data.ts
  apps/website/src/app/globals.css
  apps/website/src/app/layout.tsx
  apps/website/src/app/page.tsx
  apps/website/src/app/robots.ts
  apps/website/src/app/sitemap.ts
Due: lint, format

Path conditions:
  lint: any of: *.{js,ts,jsx,tsx}
  format: any of: *.{js,ts,jsx,tsx,json}
